.u-font-primary {
  font-family: $fontFamily;
}

.u-font-primary-bold {
  font-family: $fontFamilyBold;
}

.u-font-primary-medium {
  font-family: $fontFamilyMedium;
}

.u-font-colour-grey {
  color: #3a3a3a;
}

.u-font-colour-dark-grey {
  color: #0d0d0d;
}

.u-font-break {
  white-space: break-spaces;
}

.u-font-thin {
  font-weight: 100;
}

.u-font-bold {
  font-weight: bold;
}