.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-no-decoration {
  text-decoration: none;
}

.u-white-space-pre {
  white-space: pre;
}

.u-white-space-pre-line {
  white-space: pre-line;
}
