// Abreast Of Health Colour Palette
$pink: #ea006c;
$darker-pink: #60002c;
$tint: #fef4f9;
$dark-pink: #a72253;
$darker-pink30: rgba($darker-pink, 0.3);
$purplish-brown: #534b4e;

$primary-colour: $pink;
$secondary-colour: $dark-pink;

// Tones
$black: #000000 !default;
$white: #FFFFFF !default;
$darkGrey: #333333 !default;
$midGrey: #C3C3C3 !default;
$lightGrey: #efeded !default;
$grey: #BBBBBB;
$black12: rgba($black, 0.12);
$black04: rgba($black, 0.04);